* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#titulo {
    font-size: 3rem;
    padding: 5px;
    margin-left: 50px;
    text-align: center;
    width: 30%;
    color: #03002b;
    background-color: #ff4d4d;
}

#lista {
    margin-left: 50px;
}

#elemento-1 {
    color: #ff4d4d;
    font-size: 2rem;
    font-weight: 700;
}
